In [2]:
import pandas as pd

In [3]:
#reading the dataset
data = pd.read_csv("pokemon_gen_1_to_8.csv")
pok = pd.DataFrame(data)
pok.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Attack,Sp. Defense,Speed,Total,Average,Generation
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,53.00,1
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,67.50,1
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,87.50,1
3,3,Venusaur (Mega Venusaur),Grass,Poison,80,100,123,122,120,80,625,104.17,1
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,51.50,1

In [16]:
#creating a list for OU Pokemon
ou = pd.read_csv("gen8_ou.csv")
ou.columns = ["Name", "Usage Rate"]
tier = "OU"
ou["Tier"] = tier
#merging the pok and tier datasets
ou_merge = pok.merge(ou)

#exporting as csv
ou_merge.to_csv("ou_merged_df.csv")

In [17]:
#creating a list for UU Pokemon
uu = pd.read_csv("gen8_uu.csv")
uu.columns = ["Name", "Usage Rate"]
tier = "UU"
uu["Tier"] = tier
#merging the pok and tier datasets
uu_merge = pok.merge(uu)

#exporing as csv
uu_merge.to_csv("uu_merged_df.csv")

In [18]:
#creating a list for RU Pokemon
ru = pd.read_csv("gen8_ru.csv")
ru.columns = ["Name", "Usage Rate"]
tier = "RU"
ru["Tier"] = tier
#merging the pok and tier datasets
ru_merge = pok.merge(ru)

#exporting as csv
ru_merge.to_csv("ru_merged_df.csv")

In [19]:
#creating a list for NU Pokemon
nu = pd.read_csv("gen8_nu.csv")
nu.columns = ["Name", "Usage Rate"]
tier = "NU"
nu["Tier"] = tier
#merging the pok and tier datasets
nu_merge = pok.merge(nu)

#exporting as csv
nu_merge.to_csv("nu_merged_df.csv")

In [20]:
#creating a list for PU Pokemon
pu = pd.read_csv("gen8_pu.csv")
pu.columns = ["Name", "Usage Rate"]
tier = "PU"
pu["Tier"] = tier
#merging the pok and tier datasets
pu_merge = pok.merge(pu)

#exporting as csv
pu_merge.to_csv("pu_merged_df.csv")

In [10]:
#creating a singular DataFrame with all tiers
new_df = pd.concat([ou, uu, ru, nu, pu], axis=0)

#filtering out the "Type:Null" Pokemon
new_df[~new_df.Name.str.contains("Type: Null")]

             Name Usage Rate Tier
0        Clefable  56.53422%   OU
1     Corviknight  31.22480%   OU
2         Toxapex  28.25718%   OU
3       Hippowdon  25.68515%   OU
4      Ferrothorn  25.17680%   OU
..            ...        ...  ...
202       Wailmer   0.00001%   PU
203        Pidove   0.00001%   PU
204      Squirtle   0.00001%   PU
205        Wooloo   0.00001%   PU
206  Ponyta-Galar   0.00001%   PU

[1389 rows x 3 columns]

In [21]:
#merging the Pokemon stats data with their usage rate and tier
total_merged = pok.merge(new_df)

#adding a ranking to tiers: OU = 5, UU = 4, RU = 3, NU = 2, PU = 1
rank = []

#for loop to append an empty list "rank" with tiers
for x in total_merged["Tier"]:
    if x == "OU":
        rank.append(5)
    if x == "UU":
        rank.append(4)
    if x == "RU":
        rank.append(3)
    if x == "NU":
        rank.append(2)
    if x == "PU":
        rank.append(1)
        
#creating a new column called "Tier Ranking" that equates to the numerical value of the tier
total_merged["Tier Ranking"] = rank
total_merged.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Attack,Sp. Defense,Speed,Total,Average,Generation,Usage Rate,Tier,Tier Ranking
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,53.0,1,0.00850%,OU,5
1,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,53.0,1,0.00025%,RU,3
2,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,53.0,1,0.00025%,NU,2
3,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,67.5,1,0.00020%,OU,5
4,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,67.5,1,0.04553%,UU,4

In [22]:
total_merged.to_csv("total_merged_df.csv")