In [20]:
import pandas as pd
import numpy as np

In [21]:
data = pd.read_csv("pokemon_gen_1_to_8.csv")
pok = pd.DataFrame(data)
pok.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Attack,Sp. Defense,Speed,Total,Average,Generation
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,53.00,1
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,67.50,1
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,87.50,1
3,3,Venusaur (Mega Venusaur),Grass,Poison,80,100,123,122,120,80,625,104.17,1
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,51.50,1

In [29]:
ou = pd.read_csv("gen8_ou.csv")
ou.columns = ["Pokemon", "Usage Rate"]
#for col in ou.columns:
 #   print(col)
ou.head()

       Pokemon Usage Rate
0     Clefable  56.53422%
1  Corviknight  31.22480%
2      Toxapex  28.25718%
3    Hippowdon  25.68515%
4   Ferrothorn  25.17680%

In [30]:
uu = pd.read_csv("gen8_uu.csv")
uu.columns = ["Pokemon", "Usage Rate"]
uu.head()

      Pokemon Usage Rate
0     Noivern  38.70327%
1     Haxorus  31.67690%
2     Sylveon  30.85321%
3  Incineroar  29.24782%
4    Cobalion  26.66785%

In [31]:
ru = pd.read_csv("gen8_ru.csv")
ru.columns = ["Pokemon", "Usage Rate"]
ru.head()

     Pokemon Usage Rate
0    Steelix  32.52857%
1       Xatu  27.03527%
2    Snorlax  25.02356%
3  Vileplume  24.01253%
4  Passimian  23.81958%

In [32]:
nu = pd.read_csv("gen8_nu.csv")
nu.columns = ["Pokemon", "Usage Rate"]
nu.head()

      Pokemon Usage Rate
0  Togedemaru  27.07538%
1  Sandaconda  26.42466%
2    Clefairy  25.01305%
3  Cofagrigus  21.84802%
4   Rotom-Fan  20.33243%

In [33]:
pu = pd.read_csv("gen8_pu.csv")
pu.columns = ["Pokemon", "Usage Rate"]
pu.head()

     Pokemon Usage Rate
0      Throh  37.73567%
1     Mawile  30.25689%
2  Manectric  21.35988%
3   Pawniard  19.70286%
4     Carkol  18.47475%